nav a {
	background-color: rgba(0, 0, 0, .3);
	transition: 0.3s;
}

nav a:hover, #current {
	background-color: rgba(53, 67, 75, .8);
}

.photo {
	transition: 0.3s;
}

.photo:hover {
	opacity: .5;
}

.view {
	display: none;
}

.photos:hover .view {
	display: inline;
}

.comics:hover {
	transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}